<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css' />
	<link href='/static/style.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div class='container'>
<div id='head'>Next Invite</div>
<div id='splitter'></div>
<h1 id='signup-text'>Sign up for an invite to join Next Invite</h1>
<div id='signup'>
	<form action='/signup' id='inviteform' method='post'>
	
	<table>
		<tr>
			<td>
				<input type='email' id='email' name='email' placeholder='Email Address' maxlength='254' required>
			</td>
			{% raw xsrf_form_html() %}
			<td>
				<a href="#" class="BigButton BlueButton" onclick="request_invite(event); return false;"><strong>Request Invitation</strong><span></span></a>
			</td>
		</tr>
	</table>
	</form>
</div>
</div>



<div id='Welcome'>
<h1>NEXT Invite is a professional dating connector</h1>
</div>

<script>
function set_display(id, value) {
	    document.getElementById(id).style.display = value;
}

function set_text(id, value) {
	    document.getElementById(id).textContent = value;
}

function serialize_form(form) {
	    var pairs = [];
	    for (var index = 0; index < form.elements.length; index++) {
	        var field = form.elements[index];
	        if (!field.name || field.disabled) {
	            continue;
	        }
	        pairs.push(encodeURIComponent(field.name) + '=' + encodeURIComponent(field.value));
	    }
	    return pairs.join('&');
}

function request_invite(event){
	    if (event) {
	        event.preventDefault();
	    }
	    var request = new XMLHttpRequest();
	    request.open('POST', '/signup', true);
	    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
	    request.onreadystatechange = function() {
	        if (request.readyState !== 4) {
	            return;
	        }
	        if (request.status >= 200 && request.status < 300) {
	            set_display('inviteform', 'none');
	            set_display('signup-text', 'none');
	            set_display('Welcome', 'none');
	            set_text('signup', "Thank You - we will review your application and you should hear shortly whether you've made the list");
	            return;
	        }
	        set_text('signup', 'Please enter a valid email address.');
	    };
	    request.send(serialize_form(document.getElementById('inviteform')));
}
</script>


</body>
</html>
